{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>RH System</title>

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!--CSS Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Icons-->
    <script src="https://kit.fontawesome.com/9063660e53.js" crossorigin="anonymous"></script>

</head>
<body>

  <header>
    <nav class="navbar navbar-dark bg-dark">
        <h4><a href="{% url 'index' %}" class="nav-link text-light">RH SYSTEM</a></h4>
    </nav>
  </header>

  {% block content %} {% endblock %}

</body>
</html>